mixin Cta 
  +Section.bg-200#cta
    .row 
      .col-lg-6
        h2.fw-bold.text-black Ready to get started?
        p.text-3 Get an guided demo with an OKR expert.
      .col-lg-6  
        form.row.g-0.align-items-center
          .col
            input.form-control.text-light.rounded-end-0(type='email' placeholder='Email Address')
          .col-sm-auto
            button.btn.btn-primary.rounded-start-0.px-3(type='submit') Get Started